        <div class="bg-img">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-30 col-sm-30 col-md-10 col-lg-10">
                            <div class="home-page-form">
                                <div class="flex-container">
                                    <div class="logo-transition">
                                        <img class="logo-transition" src="images/logo_1.jpg" alt="logo" width="300px" height="300px">
                                        <div>
                                            <h1>Study Buddies</h1>
                                            <h4>Find a Tutor!</h4>
                                            <input type="text" placeholder="Example: Math">
                                        </div>
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </div> 