    <!-- Navbar -->
    <div id="navbar-ed">
        <div class="dropdown">
            <button class="droppdown">
                <a href="eddy.html">Become a Tutor</a><i class="fa fa-fw fa-user"></i>
            </button>
            <div class="dropdown-content" style="left:0;">
                <a href="eddy.html">Become a Tutor</a>
            </div>
        </div>
        <a class="navcon2" href="register.html"><i class="fas fa-user-plus"></i> Registration</a>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="submition">
        <form>
            <label for="lname">ID Number: </label>
            <input type="number" id="quantity" name="quantity" maxlength="8"><br>
            <label for="pass">Password (8 characters minimum):</label>
            <input type="password" id="pass" name="password" minlength="8" class="inputee" required><br>
            <input type="submit" value="Submit" onclick="location.href='index.html'">
        </form>
    </div>