<div class="submition">
        <form class="forms">
            <label for="fname">First name: </label>
            <input type="text" id="fname" name="fname" class="inpute" autofocus required><br>
            <br>
            <label for="lname">Last name: </label>
            <input type="text" id="lname" name="lname" class="inpute" required><br>
            <br>
            <label for="lname">ID Number: </label>
            <input type="number" id="quantity" name="quantity" maxlength="8" class="inpute" required><br>
            <br>
            <label for="pass">Password (8 characters minimum):</label>
            <input type="password" id="pass" name="password" minlength="8" class="inputee" required><br>
            <br>
            <label for="grades">Grade: </label>
            <select id="cars" name="cars">
                <option value="Math"> Math</option>
                <option value="English"> English</option>
                <option value="Science"> Science</option>
                <option value="History"> History</option>
                <option value="Computer Science"> Computer Science</option>
                <option value="Language"> Language</option>
            </select> <br>
            <br>
            <label for="email">Preferred Email: </label>
            <input type="email" id="email" name="email" class="inpute" required><br>
            <br>
            <input type="checkbox" id="getVerified" name="getVerified" required>
            <label for="getVerified" class="termss">Have you returned you <a href="url">teacher/parent form?</a></label><br>
            <input type="checkbox" id="terms" name="terms" required>
            <label for="terms" class="termss">Do you accept the <a href="url">Terms and Conditions</a>?</label><br>
            <br>
            <br>
            <input type="button" value="Submit" onclick="location.href='Thankyou.html'">
            <input type="reset">
        </form>
    </div>