<table>
  <tr style = >
    <th>Name</th>
    <th>Club</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><a href="alex2.html">Dagler</td>
    <td>Mathletes</td>
    <td>Their description</td>
  </tr>
</tr>
</table>