<h2 style="text-align:center">User Portfolio</h2>

<div class="card">
  <img src="images/dagler.jpg" alt="Dagler" style="width:100%">
  <h1 style="font-size:50px;">Eddison Jada</h1>
  <p class="title">Mathletes Club</p>
  <p style="font-size:20px;">This where they can put a summary of themselves</p>
  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-dribbble"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="#"><i class="fa fa-linkedin"></i></a>  
    <a href="#"><i class="fa fa-facebook"></i></a> 
  </div>
  <p><button>Select</button></p>
</div>