<nav class="navbar navbar-expand-lg navbar-light bg-light">
            <!-- Bootstrap/Flexbox logo, text, and search bar-->
            <div class="bg-img">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-30 col-sm-30 col-md-10 col-lg-10">
                            <div class="home-page-form">
                                <div class="flex-container">
                                    <div class="logo-transition">
                                        <img class="logo-transition" src="images/logo_1.jpg" alt="logo" width="300px" height="300px">
                                        <div>
                                            <h1>Study Buddies</h1>
                                            <h4>Find a Tutor!</h4>
                                            <input type="text" placeholder="Example: Math">
                                        </div>
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Navigation Bar -->
                <div class="text">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="index.html">Study Buddies</a>
                        <div class="topnav">
                            <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                            </div>
                            <div class="collapse navbar-collapse" id="myNavbar">
                                <ul class="nav navbar-nav">
                                    <li><a href="login.html">Login</a></li>
                                    <li><a class="name" href="alex.html">Tutors</a></li>
                                    <li><a href="eddy.html">Become a Tutor</a></li>
                                    <li><a href="settings.html">Settings</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </nav>